body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

button {
    border: 1px solid #00000050;
    border-radius: 5px;
    background-color: white;
}

button:hover {
    background-color: #fcfcfc;
}

button:active {
    background-color: #f9f9f9;
}

.control, .task__list {
    border: 1px solid #00000050;
    border-radius: 5px;
    padding: 20px;
}

.control {
    margin-bottom: 15px;
}

.control__form {
    display: grid;
    grid-template-columns: 130px 200px 130px;
    grid-template-rows: 27px;
    gap: 20px;
}

.control__input-add {
    border: 0;
    border-bottom: 1px solid #00000040;
}

.control__input-add:hover {
    border-bottom: 1px solid #00000070;
}

.control__input-add:focus {
    border-bottom: 1px solid #000000;
}

.task__list {
    height: 350px;
    overflow: auto;
}

.task__list::-webkit-scrollbar {
    width: 0.1em;
}

.task__card {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.task__checkbox {
    accent-color: #747474;
    margin-right: 10px;
}

.task__description {
    width: 350px;
    margin-right: 10px;
    border: 0;
}

.task__checkbox:checked ~ .task__description {
    background-color: #00000010;
    text-decoration: line-through;
}

.task__date {
    margin-right: 12px;
}

.task__button-delete {
    border: 0;
}

